{% extends 'layout.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% if movie.image %} 
                <img class="card-img" src="{{movie.image.url}}" alt="">
            {% endif %} 
        </div>
        <div class="col-md-9">
            <h1 style="font-family: 'Bangers', cursive;" class="display-4">{{ movie.name }}</h1>
            <hr>
            <p>
                {{ movie.description |safe}}
            </p>
            <hr>
            <p><b>Eleştirmen :</b> {{ movie.author }}</p>
        </div>
    </div>
<br><br><hr><br>
<h4><b>Yorumlar</b></h4><hr>
  {% if comments %}
    {% for comment in comments  %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
        </div>
    </div>
    {% endfor %}
  {% else %}
        <div class ="alert alert-danger">
            Bu makaleye herhangi bir yorum yazılmamış, ilk yorum yapan siz olun!
        </div>
  {% endif %}
  <br><br><br><br>
    <div class="card my-4">
        <h5 class="card-header">Yorum Ekle :</h5>
        <div class="card-body">
            <form method = "POST" action = "{% url 'comment' movie.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="formGroupExampleInput">Yorum</label>
                    <textarea name = "comment_content" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-danger btn-o2">Ekle</button>
            </form>
        </div>
    </div>


{% endblock %}