{% extends 'layout.html' %}

{% load static %}
{% load humanize %}

{% block content %}


<div class="jumbotron üst ">
    <div class="container">
        <h3 id="kategori-o3" style="font-family: 'times'; font-size: 4.5rem; color: darkred;">İÇERİKLER</h3>
            {% for kategori in kategori %}
            <ul>
                <li>
                    <a style="font-family: 'Courgette', cursive; color: white;" class="kategori-o" href="{% url 'filtre' kategori.id %}">{{ kategori.text }}</a>
                </li>
            </ul>
            {% endfor %}
        </ul> 
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if movies %}
            {% for movie in movies %}
            <a class="link-a" href="{% url 'detail' movie.id %}">
                <div  class="card mb-3 film-o">
                    <div class="row">
                        <div class="col-md-3">
                            {% if movie.image %}
                                <img class="card-img" src="{{movie.image.url}}" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <div class="card-title">
                                     {{ movie.name }}
                                </div>
                                <p class="card-text">
                                        {{ movie.description|safe|truncatewords:30}}
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">{{ movie.created_date | timesince }} önce eklendi</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        {% else %}
            <div class="alert alert-warning">
                <p>
                    Kayıt bulunamadı
                </p>
            </div>
        {% endif %}      
     
    </div>
</div>
{% endblock %}